<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmyan.myantrip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyanTripApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.booking.bus.CityTo"></activity>
        <activity android:name=".ui.booking.bus.CityFrom" />
        <activity android:name=".ui.booking.bus.train.TrainStepper" />
        <activity android:name=".ui.booking.bus.train.TrainViewList" />
        <activity android:name=".ui.booking.bus.train.TrainBooking" />
        <activity android:name=".ui.booking.bus.carRental.CarRentalStepper" />
        <activity android:name=".ui.booking.bus.carRental.CarRentalsListView" />
        <activity android:name=".ui.booking.bus.carRental.CarRental" />
        <activity android:name=".ui.booking.bus.BusStepper" />
        <activity android:name=".ui.booking.bus.BusListView" />
        <activity android:name=".ui.booking.bus.BusBooking" />
        <activity android:name=".ui.booking.bus.flight.FlightStepper" />
        <activity android:name=".ui.booking.bus.flight.FlightListView" />
        <activity android:name=".ui.booking.bus.flight.FlightBooking" />
        <activity android:name=".ui.booking.bus.hotel.HotelStepper" />
        <activity android:name=".ui.booking.bus.hotel.ShowHotelView" />
        <activity android:name=".ui.booking.bus.StayingPlaceActivity" />
        <activity android:name=".ui.booking.bus.hotel.HotelBooking" />
        <activity android:name=".ui.EmergencyListActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.booking.bus.train.TrainStepper" />
        <activity android:name=".ui.booking.bus.train.TrainViewList" />
        <activity android:name=".ui.booking.bus.train.TrainBooking" />
        <activity android:name=".ui.booking.bus.carRental.CarRentalStepper" />
        <activity android:name=".ui.booking.bus.carRental.CarRentalsListView" />
        <activity android:name=".ui.booking.bus.carRental.CarRental" />
        <activity android:name=".ui.booking.bus.BusStepper" />
        <activity android:name=".ui.booking.bus.BusListView" />
        <activity android:name=".ui.booking.bus.BusBooking" />
        <activity android:name=".ui.booking.bus.flight.FlightStepper" />
        <activity android:name=".ui.booking.bus.flight.FlightListView" />
        <activity android:name=".ui.booking.bus.flight.FlightBooking" />
        <activity android:name=".ui.booking.bus.hotel.HotelStepper" />
        <activity android:name=".ui.booking.bus.hotel.ShowHotelView" />
        <activity android:name=".ui.StayingPlaceActivity" />
        <activity android:name=".ui.booking.bus.hotel.HotelBooking" />
        <activity
            android:name=".ui.plancategoryview.AddShoppingActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddPlaceActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddActivityActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddParkingActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddDirectionActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.TripPlanUserActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.TripPlanUserActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.TripBackPackActivity"
            android:name=".ui.TripBackPackActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddNoteActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddCarRentalActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddTrainActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddFlightActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddBusActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddRestaurantActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.plancategoryview.AddHotelActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.AddPlanActivity" />
        <activity android:name=".ui.TripPlanActivity" />
        <activity
            android:name=".ui.AddNewTripActivity"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.SharePost" />
        <activity
            android:name=".ui.Profile"
            android:theme="@style/AppTheme.ProfileTheme" />
        <activity android:name=".ui.PlaceDetailsActivity" />
        <activity android:name=".ui.SearchPlaceActivity" />
        <activity android:name=".ui.PlaceByCategoryActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".ui.Register"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.Login"
            android:theme="@style/AddNewTripTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>